---
import { Icon } from 'astro-icon/components'
import clsx from 'clsx'
import { getLocale, getLocalePath, t } from 'i18n:astro'

import PageLayout from '@layouts/PageLayout.astro'

import Features from '@components/pages/Landing/Features'
import HeroMessage from '@components/pages/Landing/HeroMessage'
import SubscribeForm from '@components/pages/Landing/SubscribeForm'
import Testimonials from '@components/pages/Landing/Testimonials'
import TestimonialAvatar from '@components/pages/Landing/Testimonials/TestimonialAvatar.astro'
import TestimonialCards from '@components/pages/Landing/Testimonials/TestimonialCards'
import Banner from '@components/ui/Banner'
import Button from '@components/ui/Button'

import { DEFAULT_LOCALE } from '@config/i18n'
import { TESTIMONIAL_IMAGES } from '@constants/content'
import { HREF, ROUTES } from '@constants/routes'

import '@styles/landing.css'

const locale = getLocale()

const title = t('landing:META.TITLE')
const description = t('landing:META.DESCRIPTION')

const features = t('landing:FEATURES.LIST', { returnObjects: true })
const featureIcons = ['collab', 'save-time', 'code', 'feedback']

const testimonials = t('landing:TESTIMONIALS.LIST', { returnObjects: true }).map((testimonial, idx) => ({
  ...testimonial,
  imgSlot: TESTIMONIAL_IMAGES[idx].slot,
}))
---

<PageLayout {title} {description}>
  <main class="overflow-x-hidden bg-dots bg-[top_center] bg-no-repeat py-20 sm:py-4 xs:pt-2">
    <div class="container mb-56 space-y-56 sm:mb-48 sm:space-y-40">
      <section
        class={clsx(
          'flex flex-col items-center gap-0 pt-32 text-center',
          locale === DEFAULT_LOCALE ? 'font-semibold' : 'font-bold',
        )}
      >
        <HeroMessage />

        <div class="flex w-[360px] items-center justify-between gap-6 sm:w-[320px] sm:items-stretch sm:gap-4">
          <Button
            as="a"
            client:idle
            href={getLocalePath(ROUTES.about)}
            variant="shadow"
            size="lg"
            color="default"
            className="grow"
          >
            {t('landing:HERO.CTA.LEARN_MORE.TEXT')}
          </Button>

          <Button
            as="a"
            client:idle
            href={HREF.feitCode.home}
            target="_blank"
            variant="shadow"
            size="lg"
            color="primary"
            className="flex grow items-center gap-1"
          >
            {t('landing:HERO.CTA.GET_STARTED')}
            <Icon name="external-link" class="scale-[0.75]" />
          </Button>
        </div>
      </section>

      <Features>
        {
          features.map((feature, idx) => (
            <li>
              <article class="space-y-2 sm:text-center">
                <h3 class="flex min-w-fit items-center gap-2 text-xl font-medium sm:justify-center sm:gap-2">
                  <Icon name={`features/${featureIcons[idx]}`} /> {feature.TITLE}
                </h3>

                <p class="text-lg font-extralight">{feature.DESCRIPTION}</p>
              </article>
            </li>
          ))
        }
      </Features>
    </div>

    <Testimonials>
      <TestimonialCards client:load testimonials={testimonials}>
        <Icon slot="prev" name="chevron/left" />
        <Icon slot="next" name="chevron/right" />

        <Icon slot="quote" name="quote" class="scale-[1.1] text-secondary-400 opacity-90" />

        <TestimonialAvatar slot={TESTIMONIAL_IMAGES[0].slot} src={TESTIMONIAL_IMAGES[0].img} alt={testimonials[0].NAME} />
      </TestimonialCards>
    </Testimonials>

    <Banner title={t('landing:SUBSCRIBE.HEADING')} subtitle={t('landing:SUBSCRIBE.PARAGRAPH')} className="mt-40">
      <SubscribeForm client:visible>
        <Icon name="error" slot="error" />
      </SubscribeForm>
    </Banner>
  </main>
</PageLayout>
