---
import { Icon } from 'astro-icon/components'
import { t } from 'i18n:astro'

import FooterSocialsTitle from '@components/misc/FooterSocialsTitle'
import FeitLogo from '@components/ui/FeitLogo.astro'
import UnderlineText from '@components/ui/UnderlineText'

import { SOCIALS } from '@constants/content'
import { CONTACT, HREF, ROUTES } from '@constants/routes'
import clsx from 'clsx'

const year = new Date().getFullYear()
---

<footer class="bg-gradient-to-t from-secondary-100 to-[#0D0E16] to-90%">
  <div class="container space-y-8 py-7 md:pt-10">
    <div class="grid grid-cols-3 items-stretch lg:grid-cols-2 sm:block sm:space-y-8">
      <div class="flex w-fit flex-col items-start justify-start gap-3 sm:w-full sm:items-center sm:text-center">
        <FeitLogo loading="lazy" class="*:!text-4xl sm:*:!text-3xl" />

        <div class="space-y-1">
          <a href={`mailto:${CONTACT.email}`} class="flex items-center gap-2 font-light sm:justify-center">
            <Icon name="email" class="w-7 sm:hidden" />
            {CONTACT.email}
          </a>

          <a href={`tel:${CONTACT.phone}`} class="flex items-center gap-2 font-light sm:justify-center">
            <Icon name="phone" class="w-7 sm:hidden" />
            {CONTACT.phone.replaceAll('-', ' ')}
          </a>
        </div>
      </div>

      <ul class="mx-auto flex w-fit items-start justify-center gap-9 lg:hidden">
        <li>
          <a href={ROUTES.about} class="flex items-center self-stretch text-lg">
            <UnderlineText>{t('NAV.ABOUT')}</UnderlineText>
          </a>
        </li>

        <li>
          <a href={ROUTES.contact} class="flex items-center self-stretch text-lg">
            <UnderlineText>{t('NAV.CONTACT')}</UnderlineText>
          </a>
        </li>

        <li class="space-y-1">
          <span class="text-lg">{t('NAV.RESOURCES.LABEL')}</span>

          <ul class="text-base text-slate-300">
            <li>
              <a href={HREF.feit} target="_blank" class="hover:text-slate-100">
                {t('NAV.RESOURCES.LINKS.FEIT.TITLE')}{' '}
                <Icon name="external-link" class="inline -translate-y-[2px] scale-[0.7]" />
              </a>
            </li>

            <li>
              <a href={HREF.iknow} target="_blank" class="hover:text-slate-100">
                {t('NAV.RESOURCES.LINKS.I_KNOW.TITLE')}{' '}
                <Icon name="external-link" class="inline -translate-y-[2px] scale-[0.7]" />
              </a>
            </li>

            <li>
              <a href={HREF.eKursevi} target="_blank" class="hover:text-slate-100">
                {t('NAV.RESOURCES.LINKS.E_KURSEVI.TITLE')}{' '}
                <Icon name="external-link" class="inline -translate-y-[2px] scale-[0.7]" />
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <div
        class="ml-auto flex max-w-[260px] flex-col justify-between gap-4 rounded-xl bg-slate-50/90 p-3 text-center text-slate-800 backdrop-opacity-50 sm:max-w-full sm:items-center sm:gap-6 sm:text-center"
      >
        <FooterSocialsTitle />

        <ul class="flex items-center justify-center gap-3 text-secondary *:transition-colors *:duration-200 sm:gap-6">
          {
            SOCIALS.map(({ href, label, icon }) => (
              <li class="hover:text-secondary-200">
                <a href={href} aria-label={label} target="_blank">
                  <Icon
                    name={`socials/${icon}`}
                    class={clsx({ 'scale-[1.15]': icon === 'linkedin', 'scale-[0.9]': icon === 'x' })}
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <hr class="opacity-30" />

    <div class="text-center font-inter text-sm sm:text-base">
      <p class="font-light text-slate-400">
        <span>{t('NAV.FOOTER.COPY')} &copy;</span>・<span><span id="footer-year">{year}</span> {t('NAV.FOOTER.BRAND')}</span>
      </p>
    </div>
  </div>
</footer>

<!-- https://astro-tips.dev/recipes/dynamic-footer-date-for-static-websites -->
<script is:inline data-astro-rerun>
  document.getElementById('footer-year').innerText = new Date().getFullYear()
</script>
